---
layout: base.njk
---

<article>
  <h1>{{ title }}</h1>
  <h2>{{ description }}</h2>

  <div>
    {% if background %}
    <img src="{{ background }}" alt="{{ title }}" />
    {% endif %}

    {{ content | safe }}
  </div>
</article>
