<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/shared.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    {% include 'top-header.njk'%} {% include 'main-header.njk'%}

    <main class="main-container container-center">
      {{ content | safe }}
    </main>

    <footer></footer>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </body>
</html>
