    <header class="top-header container-center">
      <nav class="top-header-product__list">
        <div class="top-header-product__item globocom-color">globo.com</div>
        <div class="top-header-product__divider"></div>
        <div class="top-header-product__item g1-color">g1</div>
        <div class="top-header-product__divider"></div>
        <div class="top-header-product__item ge-color">ge</div>
        <div class="top-header-product__divider"></div>
        <div class="top-header-product__item gshow-color">gshow</div>
        <div class="top-header-product__divider"></div>
        <div class="top-header-product__item globoplay-color">globoplay</div>
        <div class="top-header-product__divider"></div>
        <div class="top-header-product__item oglobo-color">o globo</div>
      </nav>
      <nav class="top-header-signup__container">
        <div class="top-header-signup__link">Assine Já</div>
        <div class="top-header-signup__button">Entrar ></div>
      </nav>
    </header>